* {
    margin: 0;
    padding: 0;
}

body {
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #777;
    /*height: 2000px;*/
}

h1 {
    font-size: 36px;
    color: #212121;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    color: #555;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

.menuRed {
    background-color: #8BC24A;
}

.primary {
    color: #8BC24A;
}

.primary-bg {
    background-color: #e74c3c;
}

.secondary-dark-blue {
    color: #8BC24A;
}

.secondary-dark-blue-bg {
    background-color: #34495e;
}

.secondary-sky-blue {
    color: #2d82d8;
}

.secondary-sky-blue-bg {
    background-color: #2d82d8;
}

ul {
    list-style: none;
}

a:focus {
    outline: 0;
}

a:hover {
    text-decoration: none;
}

ul li {
    display: inline-block;
}

ol, ul {
    margin-bottom: 0px;
}

.section-padding {
    padding: 56px 0;
}

.white {
    color: #fff;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.animation {
    opactiy: 0;
}
