header {
    color: #fff;
    height: 112px;
    line-height: 112px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

header a.logo {
    float: left;
}

#creativeLogo {
    line-height: 61px;
}

header nav {
    float: right;
    font-weight: bold;
}

header nav ul li {
    padding-left: 30px;
}

header nav ul li a {
    color: #fff;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

header nav ul li a:hover, header nav ul li a:focus {
    color: #384923;
    text-decoration: none;
}


/**** Slider Section ****/

.slider, .slider ul.slider-carousel, .slider ul.slider-carousel li {
    height: 600px;
    width: 100%;
    text-align: center;
    color: #fff;
}

.slider ul.slider-carousel li h1 {
    margin-top: 150px;
    margin-bottom: 30px;
    color: #fff;
}

.slider ul.slider-carousel li p {
    margin-bottom: 50px;
}

.slider ul.slider-carousel li a {
    padding: 10px 50px;
    margin-right: 30px;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.slider ul.slider-carousel li a:last-child {
    margin-right: 0px;
}

.img1 {
    background: url(img/slider/creativestudios.jpg);
    background-size: 100% 100%;
}

.img2 {
    background: url(img/slider/weCreate.jpg);
    background-size: 100% 100%;
}

.img3 {
    background: url(img/slider/insideOffice.jpg);
    background-size: 100% 100%;
}

.slider ul.slider-carousel li a.cta1:hover {
    background-color: #ff695a;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.slider ul.slider-carousel li a.cta2:hover {
    background-color: #3f9cfa;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.slider ul.sliderpager li {
    padding: 0 3px;
    height: 28px;
    line-height: 28px;
}

.slider ul.sliderpager li a {
    color: #DCEDC8;
}

.slider ul.sliderpager li.selected a {
    color: #689F38;
}


/*** Services Section ***/

.services {
    text-align: center;
}

.services .services-content i {
    font-size: 32px;
    color: #555;
}

.services-header p {
    margin-bottom: 60px;
}

.service-header, .portfolio-header, .team-header, .testimonials-header, .blog-header, .contact-header {
    margin-bottom: 42px;
    text-align: center;
}

.portfolio {
    color: #fff;
    /*background: url('img/portfolio/portfolio-bg.png');*/
    background: url('img/portfolio/portfolio-bg.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
}

.services {
    color: #daad86;
    background: #feffff;
}

.services h3 {
    color: #212121;
}

.services p {
    color: #757575;
}

.portfolio .inner-content {
    position: relative;
    width: 265px;
    height: 225px;
}

.portfolio .inner-content img {
    width: 100%;
    height: 100%;
}

.portfolio .inner-content .overlay-content {
    position: absolute;
    top: 100%;
    left: 0px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.portfolio .inner-content .overlay-content h3, .portfolio .inner-content .overlay-content p {
    color: #fff;
}

.portfolio .inner-content .overlay-content h3 {
    padding-top: 20%;
    color: #e74c3c;
}

.portfolio .inner-content:hover .overlay-content {
    top: 0px;
}

.portfolio .inner-content .overlay-content p a {
    color: #2d82d8;
    font-weight: bold;
}

.portfolio .portfolio-nav {
    text-align: center;
}

.portfolio .portfolio-nav li {
    cursor: pointer;
    margin-right: 10px;
    padding: 5px;
    background-color: #333;
    color: #fff;
    /*line-height: 28px;*/
    margin-top: 20px;
    line-height: 16px;
    font-weight: bold;
    font-size: 14px;
    width: 28px;
    height: 28px;
    /*font: left;*/
    border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}

.portfolio .portfolio-nav li:hover {
    background-color: #e74c3c;
}

.portfolio-carousel li {
    margin-right: 10px;
    margin-left: 10px;
}

.portfolio .potfolio-nav li:last-child {
    margin-right: 0px;
}


/*** team section ****/

.team .inner-content {
    position: relative;
    width: 265px;
    height: 225px;
}

.team .inner-content img {
    width: 100%;
    height: 100%;
}

.team .inner-content .overlay-content {
    position: absolute;
    top: 100%;
    left: 0px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}


/*.team .inner-content .overlay-content h3, .portfolio .inner-content .overlay-content p {
    color: #fff;
}*/


/*.team .inner-content .overlay-content h3 {
    padding-top: 20%;
    color: #e74c3c;
}*/

.team .inner-content:hover .overlay-content {
    top: 0px;
}

.team .inner-content .overlay-content p a {
    color: #2d82d8;
    font-weight: bold;
}

.team .team-nav {
    text-align: center;
}

.team .team-nav li {
    cursor: pointer;
    margin-right: 10px;
    padding: 5px;
    background-color: #333;
    color: #fff;
    line-height: 17px;
    font-weight: bold;
    font-size: 14px;
    width: 28px;
    height: 28px;
    /*font: left;*/
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-top: 20px;
}

.team .team-nav li:hover {
    background-color: #689F38;
}

.team-carousel li {
    margin-right: 10px;
    margin-left: 10px;
}

.team .team-nav li:last-child {
    margin-right: 0px;
}

.team-carousel .inner-content p.name {
    padding-top: 15%;
}

.team-carousel .inner-content p.description {
    padding: 0px 15px;
}

ul.member-social-links li {
    color: #fff;
    font-size: 14px;
    width: 28px;
    height: 28px;
    line-height: 28px;
}

ul.member-social-links li a {
    color: #fff;
}

ul.member-social-links li i {
    width: 28px;
    height: 28px;
    line-height: 28px;
    background-color: #333;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

ul.member-social-links li i.fa-facebook {
    background-color: #3b5998;
    width: 100%;
    height: 100%;
}

ul.member-social-links li i.fa-twitter {
    background-color: #00aced;
    width: 100%;
    height: 100%;
}

ul.member-social-links li i.fa-linkedin {
    background-color: #007bb6;
    width: 100%;
    height: 100%;
}


/*** testimonials ****/

.testimonials {
    background-color: #0c1622;
    color: #fff;
}

.testimonials {
    color: #fff;
    background: url('img/testi-bg.png');
    background-attachment: fixed;
    background-size: 100% 100%;
}

.testimonial-carousel li {
    text-align: center;
    margin: 0 200px;
}

#noBorder {
    border-left: 0px;
    /*width: 900px;
    margin: 0 auto;*/
    line-height: 1.5em;
    position: relative;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    padding: 0px;
}

#noBorder:before {
    position: absolute;
    content: "\f10d";
    top: -5px;
    left: -20px;
    font-family: fontAwesome;
}

#noBorder:after {
    position: absolute;
    content: "\f10e";
    bottom: -5px;
    right: -20px;
    font-family: fontAwesome;
}

.testimonials ul.sliderpager li {
    padding: 0 3px;
    height: 28px;
    line-height: 28px;
    margin: 0 auto;
}

.testimonials ul.sliderpager li a {
    color: #DCEDC8;
}

.testimonials ul.sliderpager li.selected a {
    color: #689F38;
}

.testimonial-carousel li img {
    width: 150px;
    height: 150px;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    margin-bottom: 30px;
}

.testimonial-carousel li p.name {
    color: #e74c3c;
    font-weight: bold;
}

.testimonial-carousel li p.position {
    font-weight: bold;
    margin-bottom: 30px;
}


/***** blog styles ***/

.blog b.date {
    color: #333;
}

.blog h3 a {
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.blog h3 a:hover {
    color: #e74c3c;
}


/**** contact us styles ****/

.contact {
    background: url('img/contact-bg.png');
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #fffl
}

form.contact-form {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

textarea {
    padding-top: 10px;
}

input:not([type=submit]), textarea {
    width: 100%;
    margin-bottom: 40px;
    color: #777;
    padding-left: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3) inset;
    border: none;
}

input:not([type=submit]) {
    height: 40px;
    line-height: 40px;
}

#submit {
    padding: 10px 30px;
    color: #fff;
    background-color: #e74c3c;
    border: none;
    font-weight: bold;
}


/*** footer styles ***/

footer {
    padding-top: 56px;
}

footer h1 {
    padding-bottom: 28px;
}

footer p i {
    color: #2d82d8;
}

footer p span {
    padding-left: 15px;
    font-weight: bold;
}

footer p.about {
    margin-bottom: 20px;
}

form.update-input:not([type=submit]), textarea {
    width: 100%;
    margin-bottom: 40px;
    color: #777;
    padding-left: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3) inset;
    border: none;
}

#take-email {
    margin-bottom: 20px;
}

#submit-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 20px;
    height: 40px;
    line-height: 20px;
    font-weight: bold;
}

.footer-social-links li {
    padding: 0px 10px;
    font-size: 28px;
}

#facebookLink {
    color: #3b5998;
}

#twitterLink {
    color: #55acee;
}

#linkinLink {
    color: #007bb5;
}

#dribbbleLink {
    color: #ea4c89;
}

#youtubeLink {
    color: #bb0000;
}

.copyright {
    color: #fff;
    text-align: center;
    background-color: #333;
    height: 42px;
    line-height: 42px;
    margin-top: 56px;
}

footer p span.primary {
    padding-left: 0px;
}

.copyright p {
    margin: 0 0 0 0;
}
